* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    touch-action: none;
    font-family: 'AniRegular';
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 1px 2px #84a0b3;
    letter-spacing: 3px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #a7cbe2;
    box-shadow: inset 25px 25px 50px #84a0b3,
                inset -25px -25px 50px #caf6ff;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    height: 80vh;
    min-height: 600px;
    max-height: 600px;
    width: 80vw;
    max-width: 550px;
    min-width: 350px;
    border-radius: 30%;
    padding: 0.2em;
    background: #a7cbe2;
    box-shadow: inset -20px -20px 30px #84a0b3,
                inset 20px 20px 30px #caf6ff,
                20px 20px 30px #486f88c5,
                10px 20px 30px #caf6ff;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    min-width: 120px;
    width: 65%;
    aspect-ratio: 1.7;
    border: 2px solid #84a0b374;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    background: #f7efd9ad;
    background: #ffe485;
    box-shadow: inset 5px 5px 10px #998950,
                inset -5px -5px 10px #ffffba;
    
}

#display {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    min-width: 200px;
    width: 90%;
    aspect-ratio: 2.5;
    border-radius: 190px;
    padding: 2em;
    padding-bottom: 1em;
}

.clickedNum {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    color: white;
    text-shadow: #408287 2px 1px 1px;  
}

#buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    width: 50vw;
    aspect-ratio: 1.5;
    max-width: 300px;
    min-width: 200px;    
    margin-top: 0.2rem; 
}

#numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;  
}

#operators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#clear {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.AC {
    border:none;
    width: 20%;
    aspect-ratio: 2;
    border-radius: 10%;
    background: #a7cbe2;
    box-shadow: inset -5px -5px 10px #84a0b3,
                inset 5px 5px 10px #caf6ff;
    color:white;
    font-family: monospace;
    font-weight: normal;
}
.number  {
    border:none;
    width: 27%;
    aspect-ratio: 2;
    border-radius: 30px;
    border-radius: 50%;
    background: #6bd9e1;
    box-shadow: inset -5px -5px 10px #408287,
            inset -5px -5px 10px #96ffff;
    color:white;
}

.operator {
    border: none;
    width: 18.5%;
    aspect-ratio: 2;
    border-radius: 30px;
    border-radius: 50%;
    background: #df7474;
    box-shadow:  inset -5px -5px 10px #b15c5c,
                 inset 5px 10px 10px #ef7c7c;
    color:white;
} 

.operator:hover {
    background: #df7474;
    box-shadow: inset -3px -2px 10px #b15c5c,
    inset 2px 3px 10px  #ef7c7c;
    border-bottom: 2px  #b15c5c solid;
    border-right: 1px  #b15c5c solid;
    border-top: 1px   #df7474 solid;
    border-left: 1px   #df7474 solid;
}

.number:hover {
    box-shadow: inset -2px -2px 10px #408287,
    inset 2px 3px 10px #6bd9e1;
    border-bottom: 2px #84a0b3b1 solid;
    border-right: 1px #408287;
    border-top: 1px #5fb9bfa9 solid;
    border-left: 1px #5fb9bfb9 solid;
}

.AC:hover {
    background:  #df7474;
    border-bottom: 2px  #b15c5c solid;
    border-right: 1px  #b15c5c solid; 
    box-shadow: inset -3px -2px 10px #b15c5c,
    inset 5px 3px 10px  #ef7c7c;

    border-top: 1px  #df7474 solid;
    border-left: 1px  #df7474 solid;
}

#equal:hover {
    background: #6c80d0;
    box-shadow: inset -2px -2px 10px #5c6db1,
                inset  -2px -3px 10px #7c93ef;
}

#equal {
    border:none;
    width: 27%;
    aspect-ratio: 2;
    border-radius: 30px;
    border-radius: 50%;
    color: white;
    background: #6c80d0;
    box-shadow: inset -5px -5px 10px #5c6db1,
                inset  10px 5px 10px #7c93ef;
}

#decimal {
    border:none;
    width: 27%;
    aspect-ratio: 2;
    border-radius: 30px;
    border-radius: 50%;
    background: #6bd9e1;
    box-shadow: inset -5px -5px 10px #408287,
            inset -5px -5px 10px #96ffff;
    color:white;
}

#decimal:hover {
    box-shadow: inset -2px -2px 10px #408287,
    inset 2px 3px 10px #6bd9e1;
    border-bottom: 2px #84a0b3b1 solid;
    border-right: 1px #408287;
    border-top: 1px #5fb9bfa9 solid;
    border-left: 1px #5fb9bfb9 solid;
}

.AC {
    background: #df7474;
    box-shadow:  inset -5px -5px 10px #b15c5c,
                 inset 5px 10px 10px #ef7c7c;
}

@media screen and (max-width: 500px) {
    body {
        box-shadow: none;
    }
    #container {
        border: #408287 solid 5px;
        background-color: none;
        border: none;
        border-radius: 15%;
        flex-basis: 0, 1;
        width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 2%;
        margin-left: 2%;
    }
    #buttons {
        margin-top: 3%;
        padding-bottom: 3%;
        width: 100%;
        margin-bottom: 10%;
    }
    #screen {
        width: 80%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
   
}